<!DOCTYPE html>

<body>
	<div class="text-center">
		<h1>ALL THECKNOLOGY</h1>
		<p>The best technology products in the world.</p>
	</div>
</body>

<style>
	h1{
		color:whitesmoke;
		
	}

	p{
		color: whitesmoke;
	}
</style>
