html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product {
    width: 250px;
    height: 250px;
    margin-left: 50px
}



.ECarrs img {
    width: 100%;
    height: 600px; /* Ajusta según tus necesidades */
    object-fit: cover;
}

.c1 {
    display: flex;
    align-items: center;
}



.container1 img {
    max-width: 100%;
    height: auto;
}
